.div__main{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin: auto;
}

/* 店詳細 */
.div__store{
  display: flex;
  flex-direction: column;
  width: 45%;
}

.div__store p {
  font-size: 12px;
}

.div__store-name{
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom:20px;
}

.button__back{
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  color: #000;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.6);
  text-decoration: none;
}

.h3__store-name{
  height: 30px;
  line-height: 30px;
  margin-left: 10px;
}

.button__review{
  background-color: #3560F6;
  height: 25px;
  margin-left: 30px;
  padding: 5px;
  border-radius: 5px;
}

.div__store-image, .img__store-image{
  width: 100%;
}

.div__store-tag {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

.div__store-tag p{
  margin: 0;
  margin-right: 10px;
}

.div__store-description p{
  margin: 0;
}

/* 予約フォーム */
.div__booking{
  width: 45%;
  background-color: #3560F6;
  border-radius: 3px;
  position: relative;
}

.h3__booking{
  color: #fff;
  border: 0;
  margin: 20px 0 15px 20px;
}

.div__inner{
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.input__date {
  width: 40%;
  margin-bottom: 10px;
}

.select__time {
  width: 90%;
  margin-bottom: 10px;
  ;
}

.select__number {
  width: 90%;
  margin-bottom: 10px;
}

.table__monitor{
  color: #fff;
  background-color: #5580F7;
  width: 100%;
  margin-top: 10px;
  padding: 20px;
}

.table__monitor th {
  text-align: left;
  padding: 10px;
  width: 50px;
}

.table__monitor td {
  padding: 10px;
}

.button__booking{
  color: #fff;
  background-color: #003FF5;
  position: absolute;
  width: 100%;
  height: 30px;
  bottom: 0px;
  border-radius: 0 0 3px 3px;
}

/* レビューページ */
.div__review {
  display: none;
  position: relative;
}

.div__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: transparent;
  opacity: .6;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
}

.div__review-window {
  width: 400px;
  height: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.6);
  background: #fff;
}

.div__review-header{
  height: 45px;
  position: relative;
  background-color: #003FF5;
  border-radius: 5px 5px 0 0;
}

.h3__register{
  height: 45px;
  margin: 0;
  padding: 10px 20px;
  color: #fff;
}

.div__review-close {
  position: absolute;
  right: 20px;
  top: 10px;
}

.button__review-close {
  background: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  width: 25px;
  display: block;
  height: 25px;
  border: 1px solid #fff;
  border-radius: 50%;
  position: relative;
}

.button__review-close::before,
.button__review-close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 10px;
  background-color: #fff;
}

.button__review-close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.button__review-close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.div__show-review{
  height: calc(100% - 250px);
  width: 90%;
  margin: auto;
  overflow: auto;
}

.div__review-content{
  margin-bottom: 30px;
}

.p__user-name{
  font-weight: bold;
}

.span__review-date{
  font-weight: lighter;
  margin-left: 30px;
}

.div__show-rate{
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.div__show-rate img {
  width: 20px;
}

.p__comment{
  margin-left: 10px;
}

.div__submit-review{
  position: fixed;
  width: 90%;
  height: 180px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-top: solid 1px #8B7969;
  padding-top: 5px;
}

.h4__review-submit{
  margin: 0;
  font-weight: 400;
}

.div__rate{
  display: flex;
  flex-direction: row;
}

.div__rate img {
  width: 30px;
}

.textarea__comment{
  width: 100%;
  margin: auto;
  font-size: 12px;
  border: 1px solid #000;
  border-radius: 3px;
  padding-left: 5px;
  padding-top: 5px;
  margin-top: 10px;
  resize: none;
}

.button__review-submit{
  background-color: #3560F6;
  height: 25px;
  padding: 0 10px;
  position: absolute;
  right: 0;
  bottom: 15px;
  border-radius: 5px;
  font-size: 12px;
}