.div__main{
  width: 95%;
  margin: auto;
}

/* 検索フォーム */
.div__search{
  display: flex;
  justify-content: right;
}

.form__search {
  width: 600px;
  height: 30px;
  background-color: #fff;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 5px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.6);
}

.select__search-area {
  width: 100px;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
}

.select__search-category {
  width: 180px;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
}

.input__search-store {
  width: 300px;
  background-color: transparent;
}

.div__area,
.div__category{
  display: inline-flex;
  position: relative;
}

.div__area::after,
.div__category::after{
  position: absolute;
  top: 50%;
  right: 10px;
  width: 10px;
  height: 7px;
  transform: translateY(-50%);
  background-color: #000;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  content: '';
  pointer-events: none;
}

/* 飲食店一覧 */
.div__store-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.div__card {
  margin: 20px;
  height: 180px;
  width: 220px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.6);
}

.h3__store-name{
  margin: 5px 5px 0 10px;
  padding: 0;
}

.div__image{
  height: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

.div__tag, .div__button{
  display: flex;
  flex-direction: row;
  position: relative
}

.div__tag p{
  margin: 0 0 5px 10px;
}

.a__store-detail{
  color: #fff;
  background-color: #3560F6;
  height: 25px;
  margin-left: 10px;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
}

.button__favorite{
  background-color: transparent;
  height: 25px;
  position: absolute;
  right: 20px;
}