.div__input-form {
  label{
    width: 200px;
    font-size: 0.8rem;
  }
}

.div__ok-cancel {
  display: flex;
  flex-direction: row;
  justify-content: end;

  button, label {
    background-color: #214BE0;
    color: #fff;
    font-size:0.8rem;
    padding: 5px 10px;
    margin: 20px 0;
    margin-right: 20px;
    border-radius: 5px;
    cursor: pointer;
  }
}