.div__button {
  display: flex;
  flex-direction: row;
  float: left;
}

.button__modal-detail,
.button__delete,
.a__register,
.a__edit,
.a__import,
.label__file{
  background-color: #214BE0;
  color: #fff;
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  align-self: center;
}

.button__delete {
  background-color: rgb(185, 75, 75);
}

.a__import,
.label__file {
  display: inline-block;
  cursor: pointer;
}

/* modal-detail-page */
.div__modal-page-contents {
  width: 90%;
  max-width: 600px;
  height: 90%;
  max-height: 800px;
  border: 1px solid #000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.6);
}

.div__modal-page-header h2 {
  font-size: 1.2rem;
  color: #3560F6;
  margin: 0;
  position: absolute;
  left: 20px;
  top: 20px;
  line-height: 28px;
}

/* モーダルクローズボタン */
.div__modal-page-close {
  position: absolute;
  right: 20px;
  top: 20px;
}

.button__modal-page-close {
  background: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  width: 28px;
  display: block;
  height: 28px;
  border: 1px solid #8B7969;
  border-radius: 50%;
  position: relative;
}

.button__modal-page-close::before,
.button__modal-page-close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 10px;
  background-color: #000;
}

.button__modal-page-close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.button__modal-page-close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.div__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: grey;
  opacity: .6;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
}

/* モーダルコンテンツの窓 */
.div__modal-page-content {
  width: 100%;
  height: calc(100% - 130px);
  position: absolute;
  margin:auto;
  margin-top: 50px;
  padding: 0 20px;
  overflow: auto;
}

/* 店詳細 */
.div__store {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;

  p {
    font-size: 0.8rem;
  }

  .h2__store-name {
    height: 30px;
    line-height: 30px;
  }

  .button__review {
    background-color: #3560F6;
    height: 26px;
    margin-left: 30px;
    padding: 3px 5px;
    border-radius: 5px;
  }

  .div__store-image{
    width: 100%;
  }

  .img__store-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .div__store-tag {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
  }

  .div__store-tag p {
    margin: 0;
    margin-right: 10px;
  }

  .div__store-description p {
    margin: 0;
    white-space: normal;
  }
}